set fish_greeting

fish_vi_key_bindings
set -g fish_cursor_default block
set -g fish_cursor_insert  line
set -g fish_cursor_visual block
set -g fish_cursor_replace_one underscore
set -g fish_vi_force_cursor 1

fish_config theme choose "Catppuccin Macchiato"

starship init fish | source

enable_transience

function starship_transient_prompt_func
    starship module time
end

function prompt_newline --on-event fish_postexec
    echo
end


