set fish_greeting

fish_vi_key_bindings
set -g fish_cursor_default block
set -g fish_cursor_insert  line
set -g fish_cursor_visual block
set -g fish_cursor_replace_one underscore
set -g fish_vi_force_cursor 1

bind yy fish_clipboard_copy
bind -M visual y fish_clipboard_copy
bind p fish_clipboard_paste

fish_config theme choose "Catppuccin Macchiato"

set -Ux FZF_DEFAULT_OPTS "\
--color=bg+:#363A4F,bg:#24273A,spinner:#F4DBD6,hl:#ED8796 \
--color=fg:#CAD3F5,header:#ED8796,info:#C6A0F6,pointer:#F4DBD6 \
--color=marker:#B7BDF8,fg+:#CAD3F5,prompt:#C6A0F6,hl+:#ED8796 \
--color=selected-bg:#494D64 \
--color=border:#363A4F,label:#CAD3F5"

starship init fish | source

enable_transience

function starship_transient_prompt_func
    starship module time
end

function prompt_newline --on-event fish_postexec
    echo
end

fish_add_path ~/.local/bin


