#!/usr/bin/env bash
set -euo pipefail

export DEBIAN_FRONTEND=noninteractive

apt-get update -qq
apt-get install -y --no-install-recommends software-properties-common tzdata locales python3-apt sudo
# You can set the timezone here.
# Find your timezone from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ="Europe/Paris"

# --- Time-zone & locale preset ----
sudo ln -fs /usr/share/zoneinfo/$TZ /etc/localtime
echo "$TZ" | sudo tee /etc/timezone

echo 'locales locales/default_environment_locale select en_US.UTF-8' | sudo debconf-set-selections
echo 'locales locales/locales_to_be_generated select en_US.UTF-8 UTF-8' | sudo debconf-set-selections

# --- Repositories ----------------------------------------------------------

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo add-apt-repository -y ppa:fish-shell/release-3
sudo add-apt-repository -y ppa:neovim-ppa/unstable
{{ end -}}
sudo apt-get update -qq

# --- Packages --------------------------------------------------------------
# On recent versions of Ubuntu (22.04+), the fd-find package is named fd.
# You may need to create a `~/.local/bin/fd` symlink to `fdfind` if you use Ubuntu < 22.04
sudo apt-get install -y --no-install-recommends \
    curl sudo git \
    fish neovim fzf fd-find bat
sudo locale-gen

# --- bat symlink -----------------------------------------------------------
if ! command -v bat &> /dev/null && command -v batcat &> /dev/null; then
    mkdir -p ~/.local/bin
    ln -sf /usr/bin/batcat ~/.local/bin/bat
fi


# --- Starship prompt -------------------------------------------------------
curl -fsSL https://starship.rs/install.sh | sh -s -- -y -b ~/.local/bin

# --- Fish as default shell -------------------------------------------------
if ! grep -q '^/usr/bin/fish$' /etc/shells; then
  echo /usr/bin/fish | sudo tee -a /etc/shells
fi
sudo chsh -s /usr/bin/fish "$(whoami)"

# --- Clean up --------------------------------------------------------------
sudo apt-get clean && sudo bash -c 'rm -rf /var/lib/apt/lists/*'
