#!/usr/bin/env fish

if not functions -q fisher
    # Install fisher if not already installed
    curl -sL https://git.io/fisher | source
end

fisher install jorgebucaran/fisher
fisher install edc/bass
fisher install catppuccin/fish

# Set Catppuccin Macchiato as the default theme
yes | fish_config theme save "Catppuccin Macchiato"
