#!/usr/bin/env bash
set -euo pipefail

sudo apt-get update
sudo apt-get install software-properties-common -y                            
sudo apt-add-repository -y ppa:fish-shell/release-3     
sudo apt-get update
sudo apt-get install -y fish

curl -sS https://starship.rs/install.sh | sh -s -- -y    

sudo echo /usr/bin/fish | sudo tee -a /etc/shells
sudo chsh -s /bin/fish $(whoami)

fish -c '
  set -e

  curl -sL https://git.io/fisher | source
  fisher install jorgebucaran/fisher           

  fisher install edc/bass
  fisher install catppuccin/fish
'

