#!/usr/bin/env bash
set -euo pipefail

sudo apt-get update
sudo apt-get install software-properties-common -y                            
sudo apt-add-repository -y ppa:fish-shell/release-3     
sudo apt-get update
sudo apt-get install -y fish

sudo apt-get install -y wl-clipboard

sudo apt-get install -y locales
sudo sed -i 's/^# *en_US.UTF-8/en_US.UTF-8/' /etc/locale.gen
sudo locale-gen

curl -sS https://starship.rs/install.sh | sh -s -- -y   

sudo add-apt-repository ppa:maveonair/helix-editor
sudo apt update
sudo apt install helix

sudo echo /usr/bin/fish | sudo tee -a /etc/shells
sudo chsh -s /bin/fish $(whoami)

fish -c '
  set -e

  curl -sL https://git.io/fisher | source
  fisher install jorgebucaran/fisher           

  fisher install edc/bass
  fisher install catppuccin/fish
'

