[tools]
neovim = "latest"
node = "lts"
pixi = "latest"
starship = "latest"
usage = "latest"
fastfetch = "latest"
opencode = "latest"
#gemini-cli = "latest"
#codex = "latest"
#claude-code = "latest"
lazygit = "latest"
