"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true

[character]            # The prompt symbol
success_symbol = '[➜](bold green)'

# --- Custom sections ---------------------------------------------------------------
[directory]
style = "blue"

[aws]
disabled = true
